<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>

<body>

<h3> User </h3>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.username%></td>
            <td><%= user.email%></td>
            <td><%= user.age%></td>
        </tr>
    <% end %>
</table>

<h3> Cat </h3>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <% @cats.each do |cat| %>
        <tr>
            <td><%= cat.name%></td>
        </tr>
    <% end %>
</table>

<h3> Todo </h3>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% @todos.each do |todo| %>
        <tr>
            <td><%= todo.name%></td>
            <td><%= todo.description%></td>
        </tr>
    <% end %>
</table>

</body>
</html>