<table>
    <tr>
        <td>name</td>
    </tr>
    <% @cats.each do |cats| %>
        <tr>
            <td><%= cats.name%></td>
        </tr>
    <% end %>
</table>

<table>
    <tr>
        <td> name </td>
        <td> description </td>
    </tr>
    <% @todos.each do |todos| %>
        <tr>
            <td><%= todos.name%></td>
            <td><%= todos.description%></td>
        </tr>
    <% end %>
</table>

<table>
    <tr>
        <td> username </td>
        <td> email </td>
        <td> age </td>
    </tr>
    <% @users.each do |users| %>
        <tr>
            <td><%= users.username%></td>
            <td><%= users.email%></td>
            <td><%= users.age%></td>
        </tr>
    <%end%>
</table>table>
